.group-study-reservation-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #ededed;
}
.group-study-reservation-group-study-reservation {
  width: 360px;
  height: 640px;
  display: flex;
  overflow: hidden;
  position: relative;
  box-sizing: content-box;
  margin-top: var(--dl-space-space-fourunits);
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
}
.group-study-reservation-rectangle3 {
  top: 0px;
  left: 0px;
  width: 360px;
  height: 48px;
  position: absolute;
  border-color: transparent;
  border-radius: 10px 10px 0 0;
}
.group-study-reservation-text {
  top: 74px;
  left: 43px;
  color: rgba(0, 0, 0, 1);
  width: 275px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Anek Bangla;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.group-study-reservation-rectangle9 {
  top: 147px;
  left: 64px;
  width: 234px;
  height: 51px;
  position: absolute;
  border-color: transparent;
  border-radius: 10px;
}
.group-study-reservation-rectangle10 {
  top: 236px;
  left: 64px;
  width: 234px;
  height: 51px;
  position: absolute;
  border-color: transparent;
  border-radius: 10px;
}
.group-study-reservation-rectangle11 {
  top: 325px;
  left: 63px;
  width: 235px;
  height: 51px;
  position: absolute;
  border-color: transparent;
  border-radius: 10px;
}
.group-study-reservation-line1 {
  top: 16px;
  left: 315px;
  width: 27px;
  height: 17px;
  position: absolute;
}
.group-study-reservation-text02 {
  top: 12px;
  left: 61px;
  color: rgba(255, 255, 255, 1);
  width: 225px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.group-study-reservation-text04 {
  top: 161px;
  left: 64px;
  color: rgba(255, 255, 255, 1);
  width: 234px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.group-study-reservation-text06 {
  top: 250px;
  left: 64px;
  color: rgba(255, 255, 255, 1);
  width: 234px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.group-study-reservation-text08 {
  top: 339px;
  left: 64px;
  color: rgba(255, 255, 255, 1);
  width: 234px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.group-study-reservation-arrow4 {
  top: 14px;
  left: 13px;
  width: 20px;
  height: 17px;
  position: absolute;
  border-color: transparent;
}
.group-study-reservation-rectangle32 {
  top: 0px;
  left: 0px;
  width: 299px;
  height: 48px;
  position: absolute;
  border-color: transparent;
}
